body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.main {
  height: 100vh;
  background-position: center;
  background-size: contain;
}

.light-mode {
  background-image: linear-gradient(#fffffff1, #fffffff1), url('./images/light-mode-background.png');
}

.dark-mode {
  background-image: linear-gradient(#000000CC, #000000CC), url('./images/dark-mode-background.png');
}

.mounting {
  animation: mount 1s;
  animation-fill-mode: forwards;
}

.unmounting {
  animation: unmount 1s;
  animation-fill-mode: forwards;
}

.fade-in {
  animation: fade-in 1s;
  animation-fill-mode: forwards;
}

.fade-out {
  animation: fade-out 1s;
  animation-fill-mode: forwards;
}

@keyframes mount {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes unmount {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 0;
    transform: translateY(15%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
