html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.main {
  height: var(--app-height);
}

.mounting {
  animation: mount 1s;
  animation-fill-mode: forwards;
}

.unmounting {
  animation: unmount 1s;
  animation-fill-mode: forwards;
}

.fade-in {
  animation: fade-in 1s;
  animation-fill-mode: forwards;
}

.fade-out {
  animation: fade-out 1s;
  animation-fill-mode: forwards;
}

.smooth-transition {
  transition: .3s all;
}

@keyframes mount {
  0% {
    opacity: 0;
    transform: translate3d(0, 15%, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}

@keyframes unmount {
  0% {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 15%, 0);
    backface-visibility: hidden;
    perspective: 1000;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
